.header{
display: flex;
align-items: center;
justify-content: flex-start;
flex-direction: row;
gap: 450px;
border-bottom: 1px solid #f2f4f7;
padding:  24px 64px;
height: 72px;
width: 100%;
background: #f7f7f7;
} 