.section{
    padding-top: 48px;
    padding-bottom: 80px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 80px;
    margin-bottom: 24px;
}

.header {
    position: relative;
    display: flex;
    align-items: flex-start;
    gap: 40px;
}



.tab {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    color: #101828;
    cursor: pointer;
    position: relative;
    padding-bottom: 4px;
   
}

.tabActive::after {
  
    content: "";
    position: absolute;
    bottom: -24px;
    left: 0;
    width: 80px;
   
    height: 2px;
    background-color: #e44848;
    z-index: 1;
}

.underLine {
    position: absolute;
    bottom: -24px;
    left: 0;
   height: 1px;
        background-color: #dadde1;
        width: 100%;
        z-index: 0;
   
}

.content{
    display: flex;
   
        gap: 40px;
       
        align-items: flex-start;
}