.wrapper {
   /* display: flex;
    flex-direction: column;
    gap: 16px;
    height: 88px; */
    width: 360px;
   
}

.label {
font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #6c717b;
display: flex;
    flex-direction: column;
    gap: 8px;
}

.inputWrapper {
    position: relative;
    display: flex;
    align-items: center;
    
}

.select {
    appearance: none;
    height: 56px;
    padding: 18px 20px 18px 48px;
    border-radius: 12px;
    background-color: #F7F7F7;
    border: none;
    color: #101828;
    width: 100%;
    outline: none;
    line-height: 1.5;
}

.icon {
    position: absolute;
    left: 18px;
    width: 20px;
    height: 20px;
    fill: #6c717b;;
}

.selected {
    fill: #101028;
}

.placeholder {
    color:#6c717b;
}