.btn{
    border-radius: 200px;
    padding: 16px 60px;
    width: 166px;
    height: 56px;
    background-color: #e44848;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.01em;
    
}

.btn:hover,
.btn:focus {
   background-color: #d84343;
}


.btnLoad {
    border: 1px solid #dadde1;
    background-color: #fff;
    color: #101828;
    padding: 16px 32px;
    width: 145px;  
}

.btnLoad:hover,
.btnLoad:focus {
    border: 1px solid #d84343;
    background-color: #fff;
}