.input {
    width: 527px;
    padding: 18px;
    font-size: 16px;
    border-radius: 12px;
    background-color: #f7f7f7;
    color: #101028;
    border: none;
    height: 60px;
    box-sizing: border-box;
}

.input[name="comment"] {
    height: 118px;
    resize: none;
}

.input:focus{
    outline: none;
    
}

.calendar {
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.day {
    border-radius: 50%;
    font-size: 14px;
    
}

.day:hover {
    border-radius: 50%;
    background-color: rgba(16, 24, 40, 0.1);
   
}


.container {
    border: 1px solid #dadde1;
    border-radius: 10px;
    width: 641px; 
    height: 588px;
    padding: 44px 57px;
    
}

.title {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 8px;
}

.text{
    color: #6c717b;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
     margin-bottom: 24px;
        
}

.fieldsWrapper{
    display: flex;
        flex-direction: column;
        align-items: center;
        gap: 14px;
}

.wrapperBtn{
    margin-top: 24px;
    display: flex;
        justify-content: center;
}
   

.fieldGroup {
    position: relative;
}

.dateWrapper {
    position: relative;
   
}

.error {
    position: absolute;
    bottom: 0;
    left: 12px;
    font-size: 12px;
    color: red;
}